
<ion-view view-title="Home">
  <ion-content>

<div class="list card">

  <div class="item item-avatar">
    <img src="img/highlander.png">
    <h2>Mr. Reidy</h2>
    <p>2016-2017 Algebra 2</p>
  </div>

  <div class="item item-body">
    <img src="img/somerville.jpg" style="width: 75vw; height: 35vw; margin-left:10%; margin-right:10%;">
    <p style="text-align: justify; font-size: .85em;">
       Hi. This application gives a day to day, week to week, and month to month overview of what we are covering in my Algebra 2 class.
      Hopefully it will give you some idea of where things are going regarding the topics we have been covering. You can also see upcoming
      scans and quizzes by looking at the weekly agenda. The calendar tab will give you a broad overview of everything we've done, while the
      weekly agenda is much more specific. The calculator will take a few seconds to load, but once it does you can use it as a great tool to visualize
      all of the equations and expressions we are covering in class. This application should be available, after an approval process, on Google Play for Android devices and
      the App Store for iOS. The calculator will render more effectively as an app, it doesn't work very well in a mobile browser. The app will be free, of course. Thanks, and see you in class.
    </p>
    <p style="font-size: .85rem;">
        By the way, the buttons listed below will take you to the current weekly agenda and weekly agendas that I have archived.    </p>
    <p>
      <a href="#" class="subdued">0 Likes</a>
    </p>
  </div>
  <a href="#/app/agenda">
   <button class="button button-full button-calm">
This Week's Agenda: Week of 5/1 
</button>
</a>

<div class = "item"> </div>
  <div class="item item-divider" style="text-align:center;">
   <u> Previous Agendas: </u>
  </div>

 <button class="button button-full button-dark" ng-click='route()'> 
 Agenda: Week of 4/24 
</button>
</div>
</ion-content>

</ion-view>


