<ion-view view-title="Agenda Week of 5/1">
  <ion-content delegate-handle="agendaScrollDelegate">

    <div class="list">
      <div class="item item-divider" ion-affix><i class="icon ion-calendar"></i> Monday</div>
      <div class="item item-thumbnail-left item-text-wrap">
          <img src="img/hyperbola.gif">
          <h2>RATIONAL FUNCTIONS</h2>
          <p>Resuming Friday's Work in Factoring and Simplifying Rational (think fractions) Expressions (not equations). </p>
          <p> <img src="img/3.png" style="width: 4vw; height: 7.5vw;"> </p>
      </div>
 </div>

<div class="list">
      <div class="item item-divider" ion-affix><i class="icon ion-calendar"></i> Tuesday</div>
        <div class="item item-thumbnail-left item-text-wrap">
            <img src="img/multdiv.png">
            <h2>MULTIPLYING AND DIVIDING RATIONAL FUNCTIONS</h2>
          <p>We'll look at a process more difficult than simplifying rational expressions. Now we are going to try to multiply and divide them. It looks difficult, but I'll show you some useful shortcuts. </p>
            <p> <img src="img/3.png" style="width: 4vw; height: 7.5vw;"> </p>
        </div>
             
              <div class="item item-thumbnail-left item-text-wrap">
          <img src="img/hyperbola.gif">
          <h2>RATIONAL FUNCTIONS</h2>
          <p>Resuming Friday's Work in Factoring and Simplifying Rational (think fractions) Expressions (not equations). </p>
          <p> <img src="img/6.png" style="width: 4vw; height: 7.5vw;"> </p>
                  </div>

 </div>

<div class="list">
      <div class="item item-divider" ion-affix><i class="icon ion-calendar"></i> Wednesday</div>
      <div class="item item-thumbnail-left item-text-wrap">
            <img src="img/multdiv.png">
            <h2>MULTIPLYING AND DIVIDING RATIONAL FUNCTIONS</h2>
          <p>We'll look at a process more difficult than simplifying rational expressions. Now we are going to try to multiply and divide them. It looks difficult, but I'll show you some useful shortcuts. </p>
            <p> <img src="img/6.png" style="width: 4vw; height: 7.5vw;"> </p>
        </div>

 </div>



<div class="list">
      <div class="item item-divider" ion-affix><i class="icon ion-calendar"></i> Thursday</div>
        <div class="item item-thumbnail-left item-text-wrap">
            <img src="img/ratgraph.gif">
            <h2>GRAPHING RATIONAL FUNCTIONS</h2>
            <p>If we get factoring, simplifying, multiplication, and division down, we'll start graphing rational functions, and I'll talk to you about horizontal and vertical ASYMPTOTES. If not, we'll keep practicing what we did earlier in the week.</p>
           <img src="img/3.png" style="width: 4vw; height: 7.5vw;"> <img src="img/6.png" style="width: 4vw; height: 7.5vw;"> 
        </div>
         </div>



  <div class="list">
      <div class="item item-divider" ion-affix><i class="icon ion-calendar"></i> Friday</div>
        <div class="item item-thumbnail-left item-text-wrap">
            <img src="img/test.jpg">
            <h2>RATIONAL FUNCTIONS CHECK-IN</h2>
            <p>We'll need to have a quiz today to see how you are doing with everything we've covered regarding rational expressions. There won't be any graphing. This quiz won't be a scan, because I'll need to check your work and make sure you are understanding the process.</p>
            <img src="img/3.png" style="width: 4vw; height: 7.5vw;"> <img src="img/6.png" style="width: 4vw; height: 7.5vw;"> 
        </div>
    </div>
  </ion-content>
</ion-view>